/* fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');


.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.opensans {
  font-family: 'Open Sans', sans-serif;
}

.bg-black {
  background-color: #000;
}
.light {
  color: #ddd;
}

.primary {
  color: #5AD3FA;
}

.black {
  color: #000000;
}

.underline {
  text-decoration: underline;
}
.btn {
  height: 44px;
}


/* nav */
nav {
  background-color: #000;
}
.nav-link {
  font-size: 16px;
  font-weight: bold;
}

.active-border {
  display: inline-block;
  border-bottom: 4px solid white;
}

.myline {
  font-size: 14px;
}
.navbar a > img.logo {
 max-height: 80px;
}

/* footer sitemap */
footer {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.footer-link {
  color: #ddd;
  margin: 10px;
}


.footer-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/* home */
.intro {
  padding-top: 60px;
}

.homebtn {
  margin-top: 20px;
  margin-bottom: 20px;
}
